body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 60px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

 .container
        {
            padding-left: 2%;
            padding-right: 2%;
            background-color:white;

            align-content: center;
            font-size: larger;
            margin: 0 auto;/* this aligns center*/
            color: #4e239a;
        }
        .justifyText
        {
            text-align:justify;
        }

