.blog_container
{
    background: url('/ui/BG.png')  no-repeat fixed;
     margin: 0;
     background-size:100%;
     
}

.box
{
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

.center {
    text-align: center;
}
.text-big {
    font-size: 300%;
}
.bold {
    font-weight: bold;
}
.img-medium {
    height: 200px;
}
.img-small {
    height: 150px;
}
body{
    font-family: sans-serif;
    background-color: white;
    margin-top: 60px;
}
.container{
            width:90%;
/*            background-color:grey;*/
            /*padding-left: 2%;
            padding-right: 2%;*/
          
            align-content: center;
            font-size: larger;
            margin: 0 auto;/* this aligns center*/
            color:navy;        }    
.justifyText{
            text-align:justify;
        }

